.btn {
  font-family: 'Poiret One';
  margin-top: 2.1rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  width: 90%;
}
.btn-primary {
  background-color: $primary-button;
  color: white;
  padding: 1.3rem 2rem;
  &:hover {
    background-color: #7913c0;
  }
}
.btn-secondary {
  color: #2c3e50;
  &:hover {
    color: $primary-button;
  }
}