// Roboto 400,700
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
//Caveat 400,700
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
//Armatic SC
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
// Poiret One
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
// Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
// Styles reset
@import 'reset';
// Buttons and Routers
@import 'buttons';



html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
input {
  border: none;
}
h1 {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1rem;

}
a {
  cursor: pointer;
  color: #2c3e50;
  text-decoration: none;
}

.container {
  height: 100%;
  width: 107rem;
  margin: 0 auto;
}

